apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: keycloak

resources:
- ../../base

images:
- name: keycloak-image
  newName: ghcr.io/cyrildesch/keycloak-with-themes
  newTag: sha-ded3d94
